[submodule "util/swap-contract/swap-contract/lib/forge-std"]
	path = util/swap-contract/swap-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "util/swap-contract/swap-contract/lib/openzeppelin-contracts"]
	path = util/swap-contract/swap-contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
